.container_post {
  padding: 1rem 1.5rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .8rem;
  background-color: var(--color-background-post);

  & h2 {
    font-family: var(--font-title-secundary);
    font-size: var(--font-size-title-post);
  }

  & img {
    object-fit: contain;
    border-radius: .8rem;
  }
}
