.container_login {
  width: 100svw;
  height: auto;
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.content_login {
  width: 17rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.title {
  margin: 0 auto;
  font-family: var(--font-title);
  font-size: 2rem;
}

.form {
  width: 20rem;
  height: auto;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  & input {
    width: 17rem;
    height: 2.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.721);
    border-bottom: solid .1rem black;
  }
}

.buttom {
  width: 17rem;
  height: 3rem;
  background-color: var(--buttom-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-buttom);
  font-size: 1rem;
  border-radius: .5rem;
  border: none;
}

.spinner {
  width: 17rem;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.error_input {
  font-size: var(--font-size-error);
  color: var(--color-error);
}

.successful {
  font-size: var(--font-size-error);
  color: var(--color-successful);
}
