.container {
  width: 100%;
  height: 5rem;
}

.fixed {
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  background-color: var(--color-background-post);
}

.logo {
  width: 5rem;
  height: 5rem;
  font-family: 'Pacifico';
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttom_login {
  width: 5.5rem;
  height: 2.3rem;
  background-color: var(--buttom-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  color: var(--color-buttom-primary);
  font-family: var(--font-buttom);
}

@media (min-width: 768px) and (max-width: 1023px)  {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .fixed {
    width: 90%;
    height: 5rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    background-color: var(--color-background-post);
  }
}

@media screen and (min-width: 1024px)  { 
  .container {
    width: 60%;
    margin: 0 auto;
  }

  .fixed {
    width: 60%;
    height: 5rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    background-color: var(--color-background-post);
  }
}
