:root {
  --font-title: 'Pacifico';
  --font-title-secundary: 'Poppins SemiBold';
  --font-buttom: 'Poppins Medium';
  --font-size-error: .8rem;
  --font-size-title-post: 1.2rem;

  --color-background-post: #fefefe;
  --color-buttom-primary: rgb(229, 229, 229);
  --buttom-primary: #022f43;
  --color-successful: green;
  --color-error: brown;
  --buttom-complement: rgb(29, 29, 29);
}

@font-face {
  font-family: 'Pacifico';
  src:
    url("/fonts/Pacifico-Regular.woff") format("woff"),
    url("/fonts/Pacifico-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Light";
  src: 
    url("/fonts/Poppins-Light.woff") format("woff"),
    url("/fonts/Poppins-Light.ttf") format("tff");
}

@font-face {
  font-family: "Poppins Medium";
  src: 
    url("/fonts/Poppins-Medium.woff") format("woff"),
    url("/fonts/Poppins-Medium.ttf") format("tff");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: 
    url("/fonts/Poppins-SemiBold.woff") format("woff"),
    url("/fonts/Poppins-SemiBold.ttf") format("tff");
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

picture {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  color: initial;
  display: block;
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

input {
  appearance: none;
  border: none;
  background: none;
}

img {
  width: 100%;
}

p {
  font-family: 'Poppins Light';
}

dialog {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
